.App {
  background-color: #d72638;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}

.column1{
  background-color: #140f2d;
  width: 40%; 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30vh;
}

.column2Login {
  color: white;
  background-color: #ec1c24;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10%;
}

.column2Registro{
  color: white;
  background-color: #ec1c24;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8%;
}

.dentroRegistro{
  border: 2px solid white;
  border-radius: 10px;
  padding: 1.5rem 3rem 4rem 3rem;
}

/*{ Mensaje Pop Up del Registro}*/
.buttonHolder{
  text-align: center;
}

/*{ Password del Login }*/
.passwordInputHolder{
  padding-top: 30px;
  padding-bottom: 10px;
}

/*{ Botón entrar del Login }*/
.entrarHolder{
  padding-top: 50px;
  padding-bottom: 30px;
}

/*{ Usuario del Registro }*/
.usernameInputHolder{
  padding-bottom: 10px;
}

/*{ Email del Registro }*/
.emailInputHolder{
  padding-top: 10px;
  padding-bottom: 10px;
}

/*{ Contraseña del Registro }*/
.password2InputHolder{
  padding-top: 10px;
  padding-bottom: 10px;
}

/*{ Confirmar contraseña del Registro }*/
.confirmPasswordInputHolder{
  padding-top: 10px;
  padding-bottom: 10px;
}

/*{ Mensaje crear del Registro}*/
.crearHolder{
  padding-top: 30px;
}

/*{ Popup}*/
.popup{
  text-align: center;
}

/*{ Mensaje cerrar Pop Up del Registro}*/
.botonCerrar{
  padding-top: 50px;
}

/*{ Mensaje Pop Up}*/
.textoPopup{
  padding-top: 30px;
}

/*{ Composicion div de pantalla amigos}*/
.amigos{
  min-width: 100vw;
  display: grid;
  grid-template-columns: 1;
  grid-gap: 0px;
  grid-template-rows: 2;
}

/*{ Header pantalla amigos}*/
.fila1{
  height: 20vh;
  grid-row: 1/2;
  background-color: #a0181d;
  display: flex;
}

/*{ Resto de pantalla amigos}*/
.fila2{
  height: 80vh;
  grid-row: 2 / 2;
  background-color: #ec1c24;
}

/*{ Componente amigo de la lista de amigos}*/
.divAmigo{
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  float:left;
  background-color: white;
  margin-top: 2em;
  margin-left: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
  padding-right: max(1.2em, 2%);
  width: 84em;
}

/*{ Boton flecha atrás pantalla amigos}*/
.leftButton{
  margin-left: 0.8em;
  margin-top: 0.5em;
}

/*{ Boton apartado amigos}*/
.buttonAmigos{  
  margin-left: 9em;
  margin-top: 1em;
}

/*{ Boton apartado invitaciones}*/
.buttonInvitaciones{
  margin-left: 3em;
  margin-top: 1em;
}

/*{ Boton añadir amigo pantalla amigos}*/
.rightButton{
  margin-left: 7em;
  margin-top: 0.5em;
}

/*{ Texto donde colocar el nombre de usuario}*/
.nombreUsuario{
  padding-right: 6.5em;
  font-size: 2em;
}

/*{ Texto donde colocar si está conectado o desconectado}*/
.estadoUsuario{
  font-size: 2em;
  padding-right: 2em;
  color: green;
}

/*{ Boton para invitar a amigos}*/
.botonInvitar{
  padding-left: 2em;
}

.botonEliminar{
  padding-left: 3em;
}

.nombreUsuarioDesconectado{
  padding-right: 10em;
  font-size: 1.3em;
}

.estadoUsuarioDesconectado{
  padding-right: 0.5em;
  font-size: 1.4em;
  color: red;
}

.dosBotones{
  display: flex;
  float: left;
  padding-top: 3em;
}

.botonConfirmar{
  padding-left: 4em;
}

.invitacionRecibida{
  font-size: 2em;
}

.nombreUsuarioInvitacion{
  padding-right: 5em;
  font-size: 2em;
}

.fila2AnadirAmigo{
  text-align: center;
  margin-bottom: 30em;
}

/*{ Composicion div de pantalla personalizar}*/
.personalizar{
  min-width: 100vw;
  display: grid;
  grid-template-columns: 1;
  grid-gap: 0px;
  grid-template-rows: 2;
}

.leftButton2{
  margin-left: 3em;
  margin-top: 1em;
}

.seccionPersonalizar{
  padding-top: 2em;
  padding-left: 26em;
}

.rightButton2{
  margin-left: 25em;
  margin-top: 1.5em;
}

.fotosPersonalizar{
  display: flex;
}

.fotoTablero{
  margin-top: 6em;
  padding-left: 20em;
}

.fotoBaraja{
  margin-top: 6em;
  padding-left: 10em;
}

.botonesPersonalizar{
  display: flex;
}

.botonTablero{
  margin-left: 24em;
}

.botonBaraja{
  margin-left: 19em;
}

.sliderP{
  margin-left: 8em;
}

.slider {
    
    display: flex;
    
    align-items: center;
    width: 90%;
    height: 60vh;
  
    scroll-snap-type: x mandatory;
  
    overflow-x: scroll;
    overflow-y: hidden;
}

.slider .sliderCP {
  flex: 0 0 100%;
  width: 100%;
  object-fit: cover;
  
  scroll-snap-align: center;
}

.slider  {
  flex: 0 0 100%;
  width: 100%;
  object-fit: cover;
  
  scroll-snap-align: center;
}

.rightButton3{
  margin-top: 1em;
  padding-left: 4em;
}

.botonSlider{
  padding-top: 1em;
  padding-left: 3em;
}